@import "tailwindcss";

/* Definimos explícitamente que la variante dark responde a la clase .dark en el html */
@variant dark (&:where(.dark, .dark *));

@keyframes borderGlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-border-glow {
  background-size: 200% 200%;
  animation: borderGlow 4s ease infinite;
}